@import "reset.css";

/* component  */
@import "component/main-header.css";
@import "component/nav.css";

/* screen  */
@import "screen/main-screen.css";

.text-deco {
  color: rgba(0, 0, 0, 0.5);
}

body {
  background-color: #f6f6f4;
  height: 1000vh;
}

.opacity-text {
  opacity: 0.5;
}
